<app-page-cards>
  <ul class="page-cards">
    <ng-container *ngFor="let card of cardItems">
      <li class="page-card-item">
        <app-page-card-item-heading>
          <div class="heading">
            <div class="icon">
              <svg>
                <use [attr.xlink:href]="card.icon"></use>
              </svg>
            </div>
            <h3 [attr.title]="card.title">
              <a [routerLink]="card.path">{{ card.title }}</a>
            </h3>
          </div>
        </app-page-card-item-heading>
        <app-page-card-item-content>
          <div class="content">
            <ng-container
              *ngIf="card.children && card.children[0] as firstChild"
            >
              <app-level-three-navigation
                [firstChildPath]="firstChild.path"
                [firstChildIcon]="firstChild.icon"
                [children]="card.children.slice(1)"
                >{{ firstChild.title }}</app-level-three-navigation
              >
            </ng-container>
          </div>
        </app-page-card-item-content>
      </li>
    </ng-container>
  </ul>
</app-page-cards>
