<nav class="main">
  <ul>
    <li *ngFor="let route of routes" [routerLinkActive]="'active'">
      <a [routerLink]="route.path">
        <div class="icon">
          <svg>
            <use [attr.xlink:href]="route.icon"></use>
          </svg>
        </div>
        <div class="text">{{ route.title }}</div>
      </a>
      <ol *ngIf="isChildActive(route)">
        <li
          *ngFor="let childRoute of route.children"
          [routerLinkActive]="'active'"
        >
          <a [routerLink]="childRoute.path">{{ childRoute.title }}</a>
        </li>
      </ol>
    </li>
  </ul>
</nav>
