.data-list {
  list-style-type: none;
  padding: 0;
}

.data-list > li {
  padding-bottom: 2rem;
}

.data-list > li > span {
  color: #657e03;
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
}
